# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [2]:
import pandas as pd

# Load the dataset
url1 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
url2 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv'
url3 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv'
df1 = pd.read_csv(url1)
df2 = pd.read_csv(url2)
df3 = pd.read_csv(url3)

In [47]:
# Cleaning - adapted from functions I made for yesterday's lab

import pandas as pd

def cleandf(df):
    df.columns = clean_columns(df)
    df.gender = standardize_gender(df)
    df.state = standardize_states(df)
    df.education = standardize_education(df)
    df.customer_lifetime_value = standardize_customer_lifetime_value(df)
    df.vehicle_class = standardize_vehicle_class(df)
    df.number_of_open_complaints = format_complaints(df)
    df = clean_nulls(df)
    df[df.select_dtypes(include='number').columns] = make_numerics_nums(df)
    return df

def open_doc(url):
    return pd.read_csv(url)

def clean_columns(car_df):
     return ["state" if column == "ST" else column.lower().replace(" ", "_") for column in car_df.columns]

def standardize_gender(car_df):
    return car_df["gender"].apply(lambda x: "F" if x == "F" or x == "Femal" or x == "female" else "M")

def standardize_states(car_df):
    states_mapping = {
    "Washington" : "Washington",
    "Arizona" : "Arizona",
    "Nevada" : "Nevada",
    "California" : "California",
    "Oregon" : "Oregon",
    "Cali" : "California",
    "AZ" : "Arizona",
    "WA" : "Washington"
    }
    return car_df.state.map(states_mapping)

def standardize_education(car_df):
     return car_df.education.apply(lambda x: "Bachelor" if x == "Bachelors" else x)

def standardize_customer_lifetime_value(car_df):
    car_df.customer_lifetime_value = car_df.customer_lifetime_value.apply(lambda x: float(str(x).replace("%","")))
    car_df.customer_lifetime_value = car_df.customer_lifetime_value.apply(lambda x: float(x))
    return car_df.customer_lifetime_value

def standardize_vehicle_class(car_df):
    luxury_mapping = {
    "Sports Car" : "Luxury",
    "Luxury SUV" : "Luxury",
    "Luxury Car" : "Luxury",
    "Four-Door Car" : "Four-Door Car",
    "Two-Door Car" : "Two-Door Car",
    "SUV" : "SUV"
    }
    return car_df.vehicle_class.map(luxury_mapping)

def format_complaints(car_df):
    return car_df.number_of_open_complaints.apply(lambda x: int((format(x).split("/"))[1]) if isinstance(x,str) else x)

def clean_nulls(car_df):
    car_df.dropna(how='all', inplace=True)
    car_df.dropna(thresh=2, inplace=True)
    car_df.customer_lifetime_value.fillna(car_df.customer_lifetime_value.mean(), inplace=True)
    return car_df

def make_numerics_nums(car_df):
    return car_df.select_dtypes(include='number').astype(int)

In [48]:
df1 = cleandf(df1)
df2 = cleandf(df2)
df3 = cleandf(df3)

/var/folders/3j/f7d6p9t136x34vdmdy30wrrc0000gn/T/ipykernel_11643/322098349.py:64: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  car_df.customer_lifetime_value.fillna(car_df.customer_lifetime_value.mean(), inplace=True)
/var/folders/3j/f7d6p9t136x34vdmdy30wrrc0000gn/T/ipykernel_11643/322098349.py:64: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  car_df.customer_lifetime_value.fillna(car_df.customer_lifetime_value.mean(), inplace=True)
/var/folders/3j/f7d6p9t136x34vdmdy30wrrc0000gn/T/ipykernel_11643/322098349.py:64: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  car_df.customer_lifetime_value.fillna(car_df.customer_lifetime_value.mean(), inplace=True)

In [49]:
car_df = pd.concat([df1,df2,df3])

In [50]:
car_df

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,M,Master,793690,0,1000,0,Personal Auto,Four-Door Car,2
1,QZ44356,Arizona,F,Bachelor,697953,0,94,0,Personal Auto,Four-Door Car,1131
2,AI49188,Nevada,F,Bachelor,1288743,48767,108,0,Personal Auto,Two-Door Car,566
3,WW63253,California,M,Bachelor,764586,0,106,0,Corporate Auto,SUV,529
4,GA49547,Washington,M,High School or Below,536307,36357,68,0,Personal Auto,Four-Door Car,17
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,Bachelor,23405,71941,73,0,Personal Auto,Four-Door Car,198
7066,PK87824,California,F,College,3096,21604,79,0,Corporate Auto,Four-Door Car,379
7067,TD14365,California,M,Bachelor,8163,0,85,3,Corporate Auto,Four-Door Car,790
7068,UP19263,California,M,College,7524,21941,96,0,Personal Auto,Four-Door Car,691
7069,Y167826,California,M,College,2611,0,77,0,Corporate Auto,Two-Door Car,369

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [3]:
marketing_df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv")
marketing_df = marketing_df.drop(columns=["unnamed:_0"])

In [57]:
marketing_df.columns

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'month'],
      dtype='object')

In [81]:
marketing_df.drop(columns=["unnamed:_0"]).columns

Index(['customer', 'state', 'customer_lifetime_value', 'response', 'coverage',
       'education', 'effective_to_date', 'employmentstatus', 'gender',
       'income', 'location_code', 'marital_status', 'monthly_premium_auto',
       'months_since_last_claim', 'months_since_policy_inception',
       'number_of_open_complaints', 'number_of_policies', 'policy_type',
       'policy', 'renew_offer_type', 'sales_channel', 'total_claim_amount',
       'vehicle_class', 'vehicle_size', 'vehicle_type', 'month'],
      dtype='object')

In [63]:
marketing_df.dtypes

unnamed:_0                         int64
customer                          object
state                             object
customer_lifetime_value          float64
response                          object
coverage                          object
education                         object
effective_to_date                 object
employmentstatus                  object
gender                            object
income                             int64
location_code                     object
marital_status                    object
monthly_premium_auto               int64
months_since_last_claim          float64
months_since_policy_inception      int64
number_of_open_complaints        float64
number_of_policies                 int64
policy_type                       object
policy                            object
renew_offer_type                  object
sales_channel                     object
total_claim_amount               float64
vehicle_class                     object
vehicle_size                      object
vehicle_type                      object
month                              int64
dtype: object

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [4]:
revenue_per_channel = round((marketing_df.groupby("sales_channel")["monthly_premium_auto"].sum()), 2)
revenue_per_channel

sales_channel
Agent          386335
Branch         280953
Call Center    197970
Web            151511
Name: monthly_premium_auto, dtype: int64

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [12]:
avg_clv_per_gender_education = round((marketing_df.groupby(["gender", "education"])["customer_lifetime_value"].mean()), 2)
avg_clv_per_gender_education

gender  education
F       Bachelor                7874.27
        College                 7748.82
        Doctor                  7328.51
        High School or Below    8675.22
        Master                  8157.05
M       Bachelor                7703.60
        College                 8052.46
        Doctor                  7415.33
        High School or Below    8149.69
        Master                  8168.83
Name: customer_lifetime_value, dtype: float64

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [80]:
pd.DataFrame(marketing_df.groupby(["policy_type", "month"])["number_of_open_complaints"].sum())

                      number_of_open_complaints
policy_type    month
Corporate Auto 1                     443.434952
               2                     385.208135
Personal Auto  1                    1727.605722
               2                    1453.684441
Special Auto   1                      87.074049
               2                      95.226817